<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>
	
	
	
</head>
<html>

{% if assig %}


{% block base_body %}
{%include "navBar/bar.html" %}


<form id="assigForm" onsubmit="return answer(ans,JSON.parse('{{ assig|escapejs }}').results[0].fields.result)" method="post">{% csrf_token %}
	<div class="row">
		<div class="large-6 rows" >
			<div class="row collapse">
				<label class="small-10 rows" >
					<script>
						var eh = JSON.parse("{{ assig|escapejs }}");
						document.write( eh.num[0]);
						for (i = 0; i<eh.o.length;i++){
							document.write(" " + eh.o[i] + " " + eh.num[i+1]);
						}
						document.write(" = ?");
					</script>
				</label>
			<div class="small-10 columns">
				<input id="input" type="number" name="ans" placeholder="write an answer here"/>
			</div>
			<div class="small-2 columns" id="assigment"></div>
			</div>
		</div>
		<div id = "next">
			<input type="submit" class="button" value="Odpovedat" />
		</div>
	</div>
</form>

<script src="/static/js/MathAssig.js"></script>
<script src="/js/foundation.min.js"></script>
{% endblock base_body %}

{% else %}
	<p>No assigment is available</p>
{% endif %}
</html>
 
