<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>
	
	
	
</head>
<html>

{% if assig %}


{% block base_body %}
{%include "navBar/bar.html" %}

{{ assig }}
<br>
<div>
<form id="assigForm" action="/math/answeredMath" onsubmit="return answer(ans,JSON.parse('{{ assig|escapejs }}').results[0].fields.result)" method="post">{% csrf_token %}
	<div class="row center">
			<div class="row collapse" id="imgDiv" align="center">
				<br><br>
				<label class="small-8 collumns" id="label" for="input">
					<script>
						var eh = JSON.parse("{{ assig|escapejs }}");
						document.write( eh.num[0]);
						for (i = 0; i<eh.o.length;i++){
							document.write(" " + eh.o[i] + " " + eh.num[i+1]);
						}
						document.write(" = ?");
					</script>
				</label>
				<br>
				<div class="large-3 collumns" id="userPart">
					<div class="row collapse">
						<div class="small-9 columns" >
							<input id="input" type="number" name="ans" placeholder="write an answer here"/>
						</div>
						<div id="assigment"></div><br>
					</div>
				</div>
				<div class="large-6 rows" id="answer" style="color:#FFFFFF"></div>
			</div>
			<br>
		<div id = "next">
			<input type="submit" class="button" value="Odpovedat" />
		</div>
	</div>
</form>
</div>
<script src="/static/js/MathAssig.js"></script>
<script src="/static/js/answerForm.js"></script>
<script src="/js/foundation.min.js"></script>
<style>
	#imgDiv{  
	 background: url(/static/img/MathBoard.png) no-repeat;
	 background-size: 100% 100%;
	 height: 500px;
	}
	#label{
		color: #fff;
		font: normal 25px courier !important;
	}
	#input{
	    background-color:rgba(0, 0, 0, 0);
	    color:white;
	    border: none;
	    outline:none;
	    height:35px;
	    transition:height 1s;
	    -webkit-transition:height 1s;
	}
	#userPart{
		margin-left: 35px;
	}
</style>
{% endblock base_body %}

{% else %}
	<p>No assigment is available</p>
{% endif %}
</html>
 
