<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>
	
	
	
</head>
<html>



{% block base_body %}
{%include "navBar/bar.html" %}

{{ assig.result }}
<br>
<div>
<form id="assigForm" action={{action}}>{% csrf_token %}
	<div class="row center">
			<div class="row collapse" id="imgDiv" align="center">
				<br><br><br><br>
				<label class="small-8 collumns" id="label" for="input">
					&radic;{{question}} = ?
				</label>
				<br>
				<div class="large-3 collumns" id="userPart">
					<div class="row collapse">
						<div class="small-9 columns" >
							<input id="input" type="number" name="ans" placeholder="write an answer here" step="0.01" min="0" required/>
						</div>
						<div id="assigment"></div><br>
					</div>
				</div>
				<div class="large-6 rows" id="answer" style="color:#FFFFFF"></div>
			</div>
			<br>
			<div id = "next">
				<input id="sub" type="submit" class="button" value="Odpovedat" />
			</div>
	</div>
	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/answerForm.js"></script>
	<script>
		var csrftoken = getCookie('csrftoken');
		$('#assigForm').on('submit', function(event){
		    event.preventDefault();
		    var jsonString= JSON.stringify({
   				type:"{{type}}",
   				fr:"{{fr}}",
   				to:"{{to}}",
   				question:"{{question}}",
   			});
		    create_post(jsonString);
		});
	</script>
</form>
</div>
<form>
<input type="text" id="txt">
</form>
<script src="/static/js/time.js"></script>
<script src="/js/foundation.min.js"></script>
<style>
	#imgDiv{  
	 background: url(/static/img/MathBoard.png) no-repeat;
	 background-size: 100% 100%;
	 height: 500px;
	}
	#label{
		color: #fff;
		font: normal 25px courier !important;
	}
	#input{
	    background-color:rgba(0, 0, 0, 0);
	    color:white;
	    border: none;
	    outline:none;
	    height:35px;
	    transition:height 1s;
	    -webkit-transition:height 1s;
	}
	#userPart{
		margin-left: 35px;
	}
</style>
{% endblock base_body %}
</html>
 
