#header{
	color:#E0E0E0;
}
.mainStyle{
	background-color: #6E6D78;
	height:65vh;
}
.menu-size{
}
.button-container {
    width: 620px;
}

.button-container > a {
    float: left;
    width: 200px;
    margin: 15px;
}

.descTop{
	font-size: 130%;
	color:silver;
}

#label{
	position: inherit;
	top: 50px;
}
