#header{
	color:#E0E0E0;
}
.mainStyle{
	position:relative;
	background-color: #6E6D78;
	height: 60vh;
}
.menu-size{
}
.button-container {
    width: 620px;
}

.button-container > a {
    float: left;
    width: 200px;
    margin: 15px;
}

.descTop{
	font-size: 130%;
	color:silver;
}
#userPart{
	position:relative;
	margin-top:11vh;
}
#divPie{
	position:relative;
	margin-top:0;
	/*style="width:5%;height:5%"*/
}
#label{
	margin-top:5vh;
	position:relative;
}
#canvasDiv{
	    display:block;
    /*width:80%;*/
    /*padding:50px 10%;*/
    /*height:300px;*/
	position:relative;
	margin-top:0vh;
}
#main{
    display:block;
    width:80%;
    padding:50px 10%;
    height:300px;
} 
