#header{
	color:#E0E0E0;
}
.mainStyle{
	position:relative;
	background-color: #6E6D78;
	height: 60vh;
}
.aboutStyle{
	
}

.silverText{
	color:silver
}

.bottomText{
	font-size: 120%;
}

.footer{
	background-color: #3D3A4F;
	bottom:0;
	width:100% ;
}
.edgeButton{
	position:fixed;
	left:0;
}
.rotatedText{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.button-container {
    width: 620px;
}

.button-container > a {
    float: left;
    width: 200px;
    margin: 15px;
}

.descTop{
	font-size: 130%;
	color:silver;
}
#userPart{
	position:relative;
	margin-top:8vh;
}
#divPie{
	position:relative;
	margin-top:0;
}
#label{
	margin-top:4vh;
	position:relative;
}
#canvasDiv
    width: 200px;
    margin: 15px;
	    display:block;
	position:relative;
	margin-top:0vh;
}

#hint{
	margin-top:20;
}