#header{
	color:#E0E0E0;
}
.mainStyle{
	position:relative;
	background-color: #6E6D78;
	height: 60vh;
}
.button-container {
    width: 620px;
}

.button-container > a {
    float: left;
    width: 200px;
    margin: 15px;
}

.descTop{
	font-size: 130%;
	color:silver;
}
#userPart{
	position:relative;
	margin-top:8vh;
}
#divPie{
	position:relative;
	margin-top:0;
}
#label{
	margin-top:5vh;
	position:relative;
}
#canvasDiv
    width: 200px;
    margin: 15px;
	    display:block;
	position:relative;
	margin-top:0vh;
}
#pie-countdown{
	width: 20%;
	height: 20%;
}