.mainStyle{
	position:relative;
	background-color: #607d8b;
	height: 60vh;
}

.secondaryStyle{
	background-color:#cfd8dc;
}

.mainPrimaryText{
	color: #eceff1;
}

.mainSecondaryText{
	color: #eceff1;
	opacity: 0.7;
}

.secPrimaryText{
	color: #e8eaf6;
}

.secSecondaryText{
	color: #e8eaf6;
	opacity: 0.7;
}


progress.round{
}


.alpha{
	background-color: rgba(0,0,0,0);
}


.hrefText{
	color: #c5cae9	;
}

.slideUpImg{
transform: rotate(-90deg);
-ms-transform: rotate(-90deg); /* IE 9 */
-webkit-transform: rotate(-90deg); /* Safari and Chrome */
-o-transform: rotate(-90deg); /* Opera */
-moz-transform: rotate(-90deg); /* Firefox */

/* if you want to do this move with animate use transition */
}
.slideDownImg{
	transform: rotate(90deg);
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Safari and Chrome */
-o-transform: rotate(90deg); /* Opera */
-moz-transform: rotate(90deg); /* Firefox */
}
	
button{
	background-color:#00838f;
}
button:focus, button:hover{
	background-color:#006064;
}

input.button{
	background-color:#00838f;
}
input.button:focus, input.button:hover{
	background-color:#006064;
}

button.secondary{
	background-color:#eceff1;
	
}
button.secondary:focus, a.button.secondary:hover{
	background-color:#90a4ae;
}

a.button.secondary{
	background-color:#eceff1;
	
}

a.button.secondary:focus, a.button.secondary:hover{
	background-color:#90a4ae;
}

.silverText{
	color:silver
}

.bottomText{
	font-size: 120%;
}

.footer{
	background-color: #3D3A4F;
	bottom:0;
	width:100% ;
}
.edgeButton{
	position:fixed;
	left:0;
}
.rotatedText{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.button-container {
    width: 620px;
}

.button-container > a {
    float: left;
    width: 200px;
    margin: 15px;
}

.descTop{
	font-size: 130%;
	color:silver;
}
#userPart{
	position:relative;
	margin-top:8vh;
}
#divPie{
	position:relative;
	margin-top:0;
}
#label{
	margin-top:4vh;
	position:relative;
}
#canvasDiv
    width: 200px;
    margin: 15px;
	    display:block;
	position:relative;
	margin-top:0vh;
}

#hint{
	margin-top:20;
}