#label{
	color: #E0E0E0;
	font: normal 5vh courier !important;
}
#input{
    background-color:rgba(0, 0, 0, 0);
    color:#E0E0E0;
    border: none;
    outline:none;
}
#sub{
	background-color: #333333;
}
#testCounter{
	background-color: #DEDEDE;
}


#userMessage{
	height: 20vh;
}

#border{
	table.bottom;
}
	
#loader 
{ fill: #0088cc }

#border 
{ fill: #00517a }