#label{
	color: #E0E0E0;
	font: normal 4vh courier !important;
}
#hint{
	font: normal 2.5vh courier !important;
}
#input{
    background-color: #6E6D78;
    color:#E0E0E0;
    border: none;
    outline:none;
}


#testCounter{
	background-color: #DEDEDE;
}


#userMessage{
	height: 20vh;
}

#border{
	table.bottom;
}
	
#loader 
{ fill: #0088cc }

#border 
{ fill: #00517a }