#imgfyz{  
	background-size: 100% 100%;
	height: 500px;
}
#label{
	color: #E0E0E0;
	font: normal 3vh courier !important;
}
#input{
    background-color:rgba(0, 0, 0, 0);
    color:#E0E0E0;
    border: none;
    outline:none;
}
#sub{
	background-color: #333333;
}
#testCounter{
	background-color: #DEDEDE;
}

#border{
	table.bottom;
}
	
#mainLabel{
	border-top: solid #B2B2B2;
}

#loader 
{ fill: #0088cc }

#border 
{ fill: #00517a }