
{% if request.session.testParam == -1%}
	<script>
		var testParam = (new Date()).getTime();
	</script>
{% else %}
	<script>
		var testParam = "{{request.session.testParam}}";
		testParam = parseInt(testParm) +1000;
	</script>
{% endif %}
<script>
$(document).ready(function(){

	handleNextQuestion("{{request.session.type}}","{{request.session.test}}",testParam);
	timer("{{request.session.medTime|stringformat:'2.f'}}","black",true,false);
});
			
	sessionStorage.setItem("sended",false); 
	function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
	}

	var csrftoken = getCookie('csrftoken');
	$('#assigForm').on('submit', function(event){
		clearInterval(interval);
 		clearInterval(t);
		var doc = document.getElementById("assigForm");
    	event.preventDefault();

    	create_post(JSON.stringify({
			p1:"{{request.session.p1}}",
			p2:"{{request.session.p2}}",
			question:"{{request.session.question}}",
			testP:testParam,
			used_hint:used_hint,
		}),"{{request.session.type}}");
	});
	
	var used_hint=0;

</script>