
{% load learning_filters %}
{% if request.session.test == "time" %}
	<script>
		var fTime = "{{fullTime}}";
		testParam = 0;
	</script>
{% else %}
	<script>
		var fTime = "{{request.session.medTime}}";
		var testParam = "{{request.session.setParam}}";
	</script>

{% endif %}
{% with request.session.p1|get_reversed:param as pa1 %}
{% with request.session.p2|get_reversed:param as pa2 %}
<script>
$(document).ready(function(){
	draw("{{request.session.type}}","{{request.session.question|stringformat:'2.f'}}","{{pa1}}","{{pa2}}");
	createQuestion("label","{{request.session.type}}","{{request.session.type|get_from_dict:'typeQuestions'}}",
					"{{request.session.question|stringformat:'2.f'}}","{{pa1}}","{{pa2}}");
	handleNextQuestion("{{request.session.type}}","{{request.session.test}}",testParam);
	drawPieTimer(fTime,"{{request.session.medTime|stringformat:'2.f'}}","{{request.session.test}}");
});
	sessionStorage.setItem("sended",false); 
	function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
	}

	var csrftoken = getCookie('csrftoken');
	$('#assigForm').on('submit', function(event){
 		clearInterval(t);
		var doc = document.getElementById("assigForm");

    	event.preventDefault();


    	create_post(JSON.stringify({
			p1:"{{request.session.p1}}",
			p2:"{{request.session.p2}}",
			question:"{{request.session.question}}",
			rev:"{{request.session.rev}}",
			testP:testParam,
		}),"{{request.session.type}}");
	});
	
	
</script>
{% endwith %}
{% endwith %}