
{% load learning_filters %}

	<script>
		var fTime = "{{request.session.medTime}}";
	</script>

{% with request.session.par|escapejs as param %}

<script>
$(document).ready(function(){
	draw("{{request.session.type}}","{{request.session.question|stringformat:'2.f'}}",
		"{{param}}");
	createQuestion("label","{{request.session.type}}","{{request.session.type|get_from_dict:'typeQuestions'}}",
					"{{request.session.question|stringformat:'2.f'}}","{{pa1}}","{{pa2}}", "{{param}}");
	handleNextQuestion("{{request.session.type}}","{{request.session.setParam}}","{{numQuestion}}");
	drawPieTimer(fTime,"{{request.session.medTime|stringformat:'2.f'}}","{{request.session.test}}");
					resizeCanvas("pie-countdown",40,25);
				resizeCanvas("myCanvas",150,8);
				 $(window).resize(function(){
				 	resizeCanvas("myCanvas",150,8);
					resizeCanvas("pie-countdown",40,25);
				 } );
});
	sessionStorage.setItem("sended",false); 
	function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
	}

	var csrftoken = getCookie('csrftoken');
	$('#assigForm').on('submit', function(event){
    	event.preventDefault();
		submit_post(false);
	});
	function submit_post(skipped){
		clearInterval(t);

		create_post(JSON.stringify({
			p1:"{{request.session.p1|escapejs|safe}}",
			p2:"{{request.session.p2|escapejs|safe}}",
			question:"{{request.session.question}}",
			par:"{{param}}",
			testP:"{{request.session.setParam}}",
		}),"{{request.session.type}}",skipped);
	}
	
	
</script>
{% endwith %}