<!DOCTYPE html>
{% extends "foundation/base.html" %}
<html>
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
<div class="row centered">
<label id="labelFinish">
	
</label>
<!-- <script src="{% static 'js/finish.js' %}"></script>
<script src="{% static 'js/decider.js' %}"></script>
<script src="{% static 'js/facebook.js' %}"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<div id="scatterPlot" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto; display:none"></div>
<script>
           	$("#labelFinish").text("");
        	$("#labelFinish").append("vas priemerny odhad je: "+((1-parseFloat("{{score}}").toFixed(2))*100).toString()+" %\n");
 				$("#label").append("vase skóre v danej oblasti je: "+("{{userScore}}"*100).toString()+" %");
	         	$("#scatterPlot").show();
         		scatterPlot("{{answers|escapejs}}","{{best}}");
       		sessionStorage.clear();
</script>
{{url}}
<button class="button" id="sub" onclick="
	window.location.href = '/learning/{{url}}';
">Znova</button>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
</div>

{% endblock base_body %}
