{% load static %}
{% load i18n %}
<div align="left" id="bottom" class=" footer">
<div class="row" class="footer">	
<div align="left" id="bottom" class="footer silverText">
	<a href="http://fi.muni.cz/"><img src="{% static 'img/logoFi.png' %}"/></a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a class="hrefText" href="/about">{% trans "O projekte" %}</a>   &nbsp;&nbsp;|&nbsp;&nbsp;
	<span class="mainPrimaryText bottomText">{% trans "Vyskúšajte taktiež:" %}</span>
	<span><a class="hrefText" href="http://slepemapy.cz/">slepemapy.cz</a></span>,		
	<span><a class="hrefText" href="http://www.matmat.cz/">matmat.cz</a></span>		
</div>
</div>
</div>
<script>
function setFooter(){
	    var footer = $("#bottom");
    var pos = footer.position();
    var height = $(window).height();
    height = height - pos.top;
    height = height - footer.height();

    if (height > 0) {
        footer.css({
            'margin-top': height + 'px'
        });
    }
}
 $(window).bind("load", function () {
	setFooter();
});
 	$( window ).resize(function() {
 		setFooter();
	  });
	</script>