<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>
	
	
</head>
<html>
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" />
<br>
<form id="assigForm" action={{action}}>{% csrf_token %}
	<div class="row">
		<div class="row collapse" id="imgFyz" align="center">

			<br><br><br><br><br>
			<label class="small-9 collumns" id="label">
				<script src="{% static "js/decider.js" %}"></script>
				{{question}}<script>
				decider("{{p1}}");</script> = ? <script>decider("{{p2}}");</script>
			</label>
			<br>
			<div class="large-3 collumns" id="userPart">
				<div class="row collapse">
						<input id="input" type="number" name="ans" placeholder="write an answer here" step="0.01" required/>
				</div>
				<div id="assigment" align="center"></div>
			</div>
			<div class="large-6 rows" id="answer"></div>
		</div>
		<div class="progress" id="testCounter"></div>
		
		<div id="timeCounter" align="center"></div>
	  	<div class="large-1 columns" id="next">
			<input id="sub" type="submit" class="button" value="Odpovedat" />
		</div>
  		<div align="right" id="hint">
  			<a><img onclick="javascript:useHint()" src="{% static "img/hint.png"%}" alt="click for help" width="50" height="50"></a>
  		</div>
	</div>
	<p id="timer" align="left"></p>	
	<div id="myModal" class="reveal-modal small" data-reveal>
		1 {{p1}} -> <span id="after"></span> {{p2}}		
		<a class="close-reveal-modal">&#215;</a>
	</div>

</form>

{% if request.session.testParam == -1%}
	<script>
		var testParam = (new Date()).getTime();
	</script>
{% else %}
	<script>
		var testParam = "{{request.session.testParam}}";
	</script>
{% endif %}
<script>
$(document).ready(function(){
	handleNextQuestion("{{type}}","{{test}}",testParam);
});
			


	function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
	}

	var csrftoken = getCookie('csrftoken');
	$('#assigForm').on('submit', function(event){
		clearInterval(interval);
 		clearInterval(t);
		var doc = document.getElementById("assigForm");
    	event.preventDefault();
    	// alert("testP"+testP);
    	// alert("end"+increase_end_angle);
		// alert("diff"+diff);
    	// alert("fr"+fr)	;
    	create_post(JSON.stringify({
			p1:"{{p1}}",
			p2:"{{p2}}",
			question:"{{question}}",
			testP:testP,
			used_hint:used_hint,
		}),"{{type}}");
	});

	var used_hint=0;	
	if ("{{type}}" == "temp"){
		function useHint(){
			tempHint("{{p1}}","{{p2}}");
		}
	} else {

	    function useHint(){
	        hint(JSON.stringify({
			type:"{{type}}",
			p1:"{{p1}}",
			p2:"{{p2}}"}));
		};
	}
</script>
<script>
	var from = "{{p1}}";
	if(from == 'CZK'){
		$("#imgFyz").attr("id","imgCz");
		$("#label").css("color","black");
		$("#input").css("color","black");
	}
	if(from == 'EUR'){
		$("#imgFyz").attr("id","imgEu");
		$("#label").css("color","black");
		$("#input").css("color","black");
	}
	
</script>
{% endblock base_body %}
</html>
 
