
<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>
	

</head>
<html>
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" />
<br>
<script src="{% static "js/finish.js" %}"></script>
<form id="assigForm" action={{action}}>{% csrf_token %}
	<div class="row">
		<div class="row collapse" id="imgFyz" align="center">
			<br><br><br><br><br>
			<label class="small-9 collumns" id="label">
				<script src="{% static "js/decider.js" %}"></script>
				{{request.session.question}}<script>
				decider("{{request.session.p1}}");</script> = ? <script>decider("{{request.session.p2}}");</script>
			</label>
			<br>
			<div class="large-3 collumns" id="userPart">
				<div class="row collapse">
						<input id="input" type="number" name="ans" placeholder="write an answer here" step="0.01" required/>
				</div>
				<div id="assigment" align="center"></div>
			</div>
			<div class="large-6 rows" id="answer"></div>
		</div>
		<div class="progress" id="testCounter"></div>
		
		<div id="timeCounter" align="center"></div>
	  	<div class="large-1 columns" id="next">
			<input id="sub" type="submit" class="button" value="Odpovedat" />
		</div>
  		<div align="right" id="hint">
  			<a><img onclick="javascript:useHint()" src="{% static "img/hint.png"%}" alt="click for help" width="50" height="50"></a>
  		</div>
	</div>
	<p id="timer" align="left"></p>	
	<div id="myModal" class="reveal-modal small" data-reveal>
		1 {{request.session.p1}} -> <span id="after"></span> {{request.session.p2}}		
		<a class="close-reveal-modal">&#215;</a>
	</div>

</form>
{% include "learning/base.html" %}
{% endblock base_body %}
</html>