{% load learning_filters %}
<script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
 <script>
 var nameReal = JSON.parse("{{'nameReal'|json_from_dict|escapejs}}");
 var typeReal = JSON.parse("{{'typeReal'|json_from_dict|escapejs}}");
 var nameUrls = JSON.parse("{{'nameUrls'|json_from_dict|escapejs}}");
 var nameTypes = JSON.parse("{{'nameTypes'|json_from_dict|escapejs}}");
function createButton(tag,name,onclick,parent,last){
	var btn = document.createElement(tag);
	var t = document.createTextNode(name);
	var div = $("<div/>", { class: "large-2 columns"});

	btn.appendChild(t);
	btn.setAttribute('class', 'secondary radius large button');
	if(onclick){	
		if (btn.addEventListener) 
			btn.addEventListener('click',onclick,false); //everything else    
		else if (choice.attachEvent)
	    	btn.attachEvent('onclick',onclick); //IE only
	}
	parent.appendChild(btn);
	if(!last)
		parent.appendChild(document.createTextNode(' '));
}

function createHrefButton(tag,name,href,parent,last){
	var btn = document.createElement(tag);

	var t = document.createTextNode(name);
	btn.appendChild(t);
	btn.setAttribute('class', 'secondary radius large button');
	
	btn.href = href;
	parent.appendChild(btn);
	if(!last)
		parent.appendChild(document.createTextNode(' '));
}

function home(a){
	var choice = document.getElementById('choice');
	while(choice.firstChild){
		choice.removeChild(choice.firstChild);
	}
	if (a == 'home'){
		for (v in nameTypes[a]){
			var e = nameTypes[a][v];
			createButton('a',nameReal[nameTypes[a][v]][0],function(j) {return function() {home(j);};}(e),choice,false);
		}
		$('#back').hide();
		$("#labelAbout").show();
		headerTitle = "Priblizne";
	} else {
		for (var v in nameTypes[a]){
			var h = "/learning/"+nameUrls[a]+'/'+nameTypes[a][v];
			createButton('a',typeReal[nameTypes[a][v]],function(j) {return function() {chooseType(j);};}(h),choice,false);
		}
		$('#back').show();
		$("#labelAbout").hide();
		headerTitle = nameReal[a][1];
		h = "/learning/all/settings/"+a;
		createButton('a',typeReal["all"],function(j) {return function() {chooseType(j);};}(h),choice,false);
	}
	document.getElementById("header").innerHTML = headerTitle;
}
function chooseType(href){
	var choice = document.getElementById('choice');
	while(choice.firstChild){
		choice.removeChild(choice.firstChild);
	}
	createHrefButton('a',"test",href+"/set",choice,false);
	createHrefButton('a',typeReal['time'],href+"/time",choice,false);
}
</script> 