<!DOCTYPE html>
{% extends "foundation/base.html" %}
</head>
<html>
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" />
<br>
<div>
<form id="assigForm" action={{action}}>{% csrf_token %}
	<div class="row center">
			<div class="row collapse" id="imgDiv" align="center">
				<br><br><br><br>
				<script src="{% static "js/decider.js" %}"></script>
				<script src="{% static "js/draw.js" %}"></script>
				<label class="small-9 collumns" id="label" for="input">
					<script>
						deciderType("{{request.session.type}}","{{request.session.question}}","{{request.session.p1}}","{{request.session.p2}}");
					</script>
				</label>
				<div id="canvasDiv">
				<canvas id="myCanvas" width="250" height="150"></canvas>
				</div>
				<script>draw("{{request.session.type}}","{{request.session.question}}","{{request.session.p1}}","{{request.session.p2}}");</script>
				<br>
				<div class="large-3 collumns" id="userPart">
						<input id="input" type="number" name="ans" placeholder="write an answer here" step="0.01" required/>
						<div id="assigment"></div><br>
				</div>
				<div class="large-6 rows" id="answer" ></div>
			</div>
			<div class="progress" id="testCounter"></div>
			<div id="timeCounter" align="center"></div>
			<!-- <div class="rows"> -->
			  	<div class="large-1 columns" id="next">
					<input id="sub" type="submit" class="button" value="Odpovedat" />
				</div>
				<div class="large-1 large-centered columns">
					<canvas id="pie-countdown" width="150" height="150" style="width:70px;height:70px;">
			    	Sorry, it doesn't work for you.
					</canvas>
				</div>
			<!-- </div> -->
			<p id="timer" align="left"></p>
	</div>
</form>
{% include "learning/base.html" %}
{% endblock base_body %}
</html>
 
