<!DOCTYPE html>
{% extends "foundation/base.html" %}
</head>
<html>
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" />
<br>
<form id="assigForm" action={{action}}>{% csrf_token %}
	<div class="row center">
			<div class="row collapse" id="imgDiv" align="center">
				<br><br><br><br>
				<!-- <script src="{% static "js/draw.js" %}"></script> -->
				<label class="small-9 collumns" id="label" for="input"></label>
				<div id="scatterPlot" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto; display:none"></div>
				<div id="canvasDiv">
					<canvas id="myCanvas" width="250" height="150"></canvas>
				</div>
				<br>
				<div class="large-3 collumns" id="userPart">
						<input id="input" type="number" name="ans" placeholder="write an answer here" step="0.01" required/>
						<div id="assigment"></div><br>
				</div>
				<div class="large-6 rows" id="answer" ></div>
			</div>
			<div id="userControl">
				<div class="progress" id="testCounter"></div>
				<div id="timeCounter" align="center"></div>
		  		<div class="large-1 columns" id="next">
					<input id="sub" type="submit" class="button" value="Odpovedat" />
				</div>
				<div class="large-1 large-centered columns">
					<canvas id="pie-countdown" width="150" height="150" style="width:70px;height:70px;">
		    		Sorry, it doesn't work for you.
					</canvas>
				</div>
			</div>
			<p id="timer" align="left"></p>
</form>
{% include "learning/base.html" %}
{% endblock base_body %}
</html>
 
