<!DOCTYPE html>
{% extends "foundation/base.html" %}
</head>
<html>
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" />
<br>
<div>

<form id="assigForm" action={{action}}>{% csrf_token %}
	<div class="row center">
			<div class="row collapse" id="imgDiv" align="center">
				<br><br><br><br>
				<script src="{% static "js/decider.js" %}"></script>
				<script src="{% static "js/draw.js" %}"></script>
				<label class="small-9 collumns" id="label" for="input">
					<script>
						deciderType("{{type}}","{{question}}");
					</script>
				</label>
				<div id="canvasDiv">
				<canvas id="myCanvas" width="250" height="150"></canvas>
				</div>
				<script>draw("{{type}}","{{question}}","{{p1}}","{{p2}}")</script>
				<br>
				<div class="large-3 collumns" id="userPart">
						<input id="input" type="number" name="ans" placeholder="write an answer here" step="0.01" required/>
						<div id="assigment"></div><br>
				</div>
				<div class="large-6 rows" id="answer" style="color:#FFFFFF"></div>
			</div>
			<div class="progress" id="testCounter"></div>
			<div id="timeCounter" align="center"></div>
            <div id = "next">
				<input id="sub" type="submit" class="button" value="Odpovedat" />
			</div>
			<p id="timer" align="left"></p>
	</div>

</form>

{% if request.session.testParam == -1%}
	<script>
		var testParam = (new Date()).getTime();
	</script>
{% else %}
	<script>
		var testParam = "{{request.session.testParam}}";
	</script>
{% endif %}
<script>
$(document).ready(function(){
	handleNextQuestion("{{type}}","{{test}}",testParam);
});
	
	var csrftoken = getCookie('csrftoken');
	$('#assigForm').on('submit', function(event){
		var doc = document.getElementById("assigForm");
    	event.preventDefault();
    	create_post(JSON.stringify({
			p1:"{{p1}}",
			p2:"{{p2}}",
			question:"{{question}}",
		}),"{{type}}");
	});
</script>

{% endblock base_body %}
</html>
 
