
<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>


</head>
<html>
	
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
{% load learning_filters %}
{% load i18n %}
<script src="{% static "js/decider.js" %}"></script>
<div class="row centered">
<form id="assigForm" method="post" >{% csrf_token %}
<div class="row center">
  	<h3 align="center">{% trans "Vyber si vlastný typ" %}</h3>
  	{% if failed %}
  		<h4 align="left" style="color:red;">{%trans "Označte aspoň jeden typ"%}</h4>
	{% endif %}
</div>
	{% for t in object_list|get_types%}


	<label onclick="showType('{{t.type}}')">
				<hr></hr>	
		{{t.type|get_from_dict:'typeReal'}}
<script>
	function showType(type){
			var element = $("#"+type);
			if(element.is(':visible')){
				element.slideUp();
			} else {
				 element.slideDown();
			}
	}
</script>	
	</label>
	<div id="{{t.type}}" style="display: none;">
	{%if t.type == "curr" or t.type == "vol" or t.type == "len" or t.type == "temp" or t.type == "surf"%}

		{% for p in object_list|get_concepts:t%}
		<div>
			<input type="checkbox" name="{{t.type}}" id="{{t.type}}{{p.id}}" value="{{p.id}}"/>
			<label for="{{t.type}}{{p.id}}">		
				<script>document.write(decider("{{p.p1}}"));</script><span><-></span><script>document.write(decider("{{p.p2}}"));</script>
			</label>
		</div>
		{% endfor %}

				<button type="button" class="small" onclick="selectAll('{{t.type}}')">{% trans "Označ všetko" %}</button>
				<script>{
					function selectAll(element){
						list = document.getElementsByName(element);
						for (i = 0; i < list.length; i++) {
    						if (list[i].type == "checkbox") {
        						list[i].checked = true;
    						}
						}
					}
				}</script>
				


	{% else %}
		<div class="large-12 collumn">
			<input type="checkbox" name="{{t.type}}" id="{{t.type}}{{p.id}}" value="all"/>
			<label for="{{t.type}}{{p.id}}">		
				{% trans "Všetko" %}	
			</label>
		</div>
	
	{% endif %}
	</div>
	{% endfor %}
<hr></hr>
<input type="hidden" name="testType" id="chosen"/> 
<input id="sub" type="submit" class="button" onclick="setTest('set')" value="vytvoriť test" />
<input id="sub1" type="submit" class="button" onclick="setTest('time')" value="vytvoriť na čas" />
<script>
	function setTest(type){
		$("#chosen").val(type);
	}
</script>
</form>
</div>

{% endblock base_body %}