
<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>


</head>
<html>
	
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
{% load learning_filters %}
{% load i18n %}
<script src="{% static "js/decider.js" %}"></script>
<form class="secondaryStyle" id="assigForm" method="post" >{% csrf_token %}
	<div class="row center">
	<script>
	function showType(type){
			var element = $("#"+type);
			if(element.is(':visible')){
				element.slideUp();
				$("#img"+type).removeClass("slideDownImg");
				$("#img"+type).addClass("slideUpImg");

			} else {
				 element.slideDown();
				 $("#img"+type).removeClass("slideUpImg");
				 $("#img"+type).addClass("slideDownImg");
			}
	}
</script>	
<div class="row center">
  	<h3 align="center">{% trans "Vyber si vlastný typ" %}</h3>
	{% if failed %}
  		<h4 align="left" style="color:red;">{%trans "Označte aspoň jeden typ"%}</h4>
	{% endif %}
</div>

	{% for t in object_list|get_types%}
		{%if t.type == "curr" or t.type == "vol" or t.type == "len" or t.type == "temp" or t.type == "surf"%}

	
	<label onclick="showType('{{t.type}}')">
				<hr></hr>	
				<img class="slideUpImg" src="{% static "img/icon-slidedown.png"%}" id="img{{t.type}}"/>
		{{t.type|get_from_dict:'typeReal'}}

	</label>
	<div id="{{t.type}}" style="display: none;" >


		{% for p in object_list|get_concepts:t%}
		<div>
			<input type="checkbox" name="{{t.type}}" id="{{t.type}}{{p.id}}" value="{{p.id}}"/>
			<label for="{{t.type}}{{p.id}}">		
				<script>document.write(decider("{{p.p1}}"));</script><span><-></span><script>document.write(decider("{{p.p2}}"));</script>
			</label>
		</div>
		{% endfor %}

				<button type="button" class="small" onclick="selectAll('{{t.type}}')">{% trans "Označ všetko" %}</button>
				<script>{
					function selectAll(element){
						list = document.getElementsByName(element);
						for (i = 0; i < list.length; i++) {
    						if (list[i].type == "checkbox") {
        						list[i].checked = true;
    						}
						}
					}
				}</script>
				</div>		
	{% endif %}

	{% endfor %}

	{% for t in object_list|get_types%}
		{%if t.type != "curr" and t.type != "vol" and t.type != "len" and t.type != "temp" and t.type != "surf"%}
		<hr></hr>	
		<div id="{{t.type}}">
				<input type="checkbox" name="{{t.type}}" id="{{t.type}}{{p.id}}" value="all"/>
				<label for="{{t.type}}{{p.id}}">		
					<span>{{t.type|get_from_dict:'typeReal'}}</span>
				</label>
		</div>
	{% endif %}

	{% endfor %}
<hr></hr>
<input type="hidden" name="testType" id="chosen"/> 
<input id="sub" type="submit" class="button" onclick="setTest('set')" value='{% trans "vytvoriť test"%}' />
<input id="sub1" type="submit" class="button" onclick="setTest('time')" value='{% trans "vytvoriť na čas" %}' />
<script>
	function setTest(type){
		$("#chosen").val(type);
	}
	function rotateAnimation(el,degrees){

	$('#'+el).animate({
    	step: function(now,fx) {
    		alert("now");
      		// $(this).css('-webkit-transform','rotate('+now+'deg)'); 
      		// $(this).css('-moz-transform','rotate('+now+'deg)');
      		// $(this).css('transform','rotate('+now+'deg)');
    	},
    	duration:'slow'
	},'linear');
		
	}
</script>
	</div>
</form>

{% endblock base_body %}