<!DOCTYPE html>
{% extends "foundation/base.html" %}
</head>
<html>
{% block base_body %}
{%include "navBar/bar.html" %}
{% load staticfiles %}
{% load learning_filters %}
{% for type in object_list|get_types_CurrTable %}
<br>
<div class="row centered">
<div class="large-12 columns">
<table>
	<thead>
		
	
	 	<tr>
	<th>{{type.type|get_from_dict:"typeReal"}}</th>
	
		
	</tr>
	</thead>
  <thead>
  			<script src="{% static 'js/decider.js' %}"></script> 
		{% for p1 in object_list|get_set_p1:type %}
	 	<tr>
			<th ><script>document.write(decider("{{p1}}"));</script></th>
			{% for p2 in object_list|get_params:type|get_p2_by_p1:p1 %}

			<td>{{ object_list|firstP:p1|secondP:p2 }}<script>document.write(" "+decider("{{p2}}"));
				</script></td>
			{% endfor %}
		</tr>
		{% endfor %}

		

    
  </thead>
</table>
</div>
</div>

{% endfor %}





{% endblock base_body %}
</html>