<script src="/static/js/home.js"></script>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a onclick="home('home')" href="/learning">Odhad jednotiek</a></h1>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
      	
      {% if user.is_anonymous %}
        <a href="#">Prihlásenie</a>
        <ul class="dropdown">
        	
          <li ><a href="/users/login">Prihlásiť sa</a></li>
          <li ><a href="/users/register">Zaregistrovať sa</a></li>
	      {% else %}
	      <a href="#">{{user}}</a>
        	<ul class="dropdown">
	      		<li><a href="/users/logout">Odhlásiť sa</a></li>
	      {% endif %}
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="/learning/conv/curr-all">Mena</a>
        <ul class="dropdown">
        	<li><a href="/learning/conv/e">Euro</a></li>
  			<li><a href="/learning/conv/c">česká koruna</a></li>
		</ul>
	  </li>
      <li class="has-dropdown">
      <a href="/learning/math/math-all">Matematika</a>
      <ul class="dropdown">
        
        <li><a href="/learning/math/sqrt">odmocniny</a></li>
  		<li><a href="/learning/math/equa">priklady</a></li>
      </ul>
        </li>
      <li class="has-dropdown">
      	<a href="/learning/conv/phys-all">Fyzika</a>
        <ul class="dropdown">
    		<li><a href="/learning/conv/len">vzdialenost</a></li>
    		<li><a href="/learning/conv/surf">plocha</a></li>
    		<li><a href="/learning/conv/vol">objem</a></li>
    		<li><a href="/learning/conv/temp">teplota</a></li>			
    	</ul>
      </li>
      <li class="has-form">
        <a href="#">Informatika</a>
      </li>
    </ul>
  </section>
</nav>