<script src="/static/js/variables.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/jquery-1.11.1.min.js"></script>

<div class="sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a onclick="home('home')" href="/learning">Odhad jednotiek</a></h1>
  </ul>
  <section class="top-bar-section" id="bar">
    
    <!-- Right Nav Section -->
    <ul class="right">
        
      <li class="has-dropdown">
        
      {% if user.is_anonymous %}
        <a href="#">Prihlásenie</a>
        <ul class="dropdown">
            
          <li ><a href="/users/login">Prihlásiť sa</a></li>
          <li ><a href="/users/register">Zaregistrovať sa</a></li>
          {% else %}
          <a href="#">{{user}}</a>
            <ul class="dropdown">
                <li><a href="/users/logout">Odhlásiť sa</a></li>
          {% endif %}
            </ul>
        </ul>
      </li>
    </ul>
  </section>
    <script>
        var cList = $('<ul/>')
            .addClass("left")
            .appendTo($("#bar"));
        eh = nameTypes['home'];
        for (var i in eh){
            value = nameTypes['home'][i];
            var li = $('<li/>')
                .addClass('has-dropdown')
                .appendTo(cList);
            var aaa = $('<a/>')
                .attr("href", "/learning/"+nameUrls[value]+"/"+value+'-all/test')
               	// .click(function(){
                	// chooseType("/learning/"+nameUrls[value]+"/"+value+'-all');})
                .text(nameReal[value][0])
                .appendTo(li);
            var ul = $('<ul/>')
                .addClass("dropdown")
                .appendTo(li);
            for (var e in nameTypes[value]){
                type = nameTypes[value][e];
                var inLi = $('<li/>')
                    .appendTo(ul);
                var a = $('<a/>')
                    .attr("href","/learning/"+nameUrls[value]+"/"+type+"/test")
                   	// .click(function(){
                   		// chooseType( "/learning/"+nameUrls[value]+"/"+type);})
                    .text(typeReal[type])
                    .appendTo(inLi);
            }
        }
    </script>
</nav>
</div>