<script src="{% static "js/nextQuestion.js" %}"></script>
<script src="{% static "js/pieTimer.js" %}"></script>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/answerForm.js" %}"></script>
<script src="{% static "js/finish.js" %}"></script>

<script>
 	window.onload = function() {
 		handleNextQuestion("{{type}}","{{test}}");
	};
	var csrftoken = getCookie('csrftoken');
	$('#assigForm').on('submit', function(event){
		var doc = document.getElementById("assigForm");
    	event.preventDefault();
    	create_post(JSON.stringify({
			p1:"{{p1}}",
			p2:"{{p2}}",
			question:"{{question}}",
			used_hint:used_hint,
		}),"{{type}}");
	});
	var used_hint=0;
	if ("{{type}}" == "temp"){
		function useHint(){
		alert("{{type}}");
			tempHint("{{p1}}","{{p2}}");
		}
	} else {
	    function useHint(){
	        hint(JSON.stringify({
			type:"{{type}}",
			p1:"{{p1}}",
			p2:"{{p2}}"}));
		};
	}
</script>
<script src="{% static "js/hint.js"%}"></script>
	<input type="text" id="txt">
 	<script src="{% static "js/time.js"%}"></script>
