<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<head>
	<script src="/static/js/variables.js"></script>
	<script src="/static/js/home.js"></script>
</head>
<html>


{% extends "foundation/base.html" %}
{% load staticfiles %}



{% block base_body %}

{%include "navBar/bar.html" %}
<div class="row">
    <div class="large-12 columns">
        <h1 id="header" align="center">Odhad prevodu jednotiek</h1>
    </div>
</div>
<div class="collumn" align="center" id="b">
</div>
<div class="row" align="center" id="choice">
	<script>
		home("home");
	</script>
</div>
<div class="row">
	<a id="back" style="display:none;"><img onclick="javascript:home('home')" src="/static/img/back.png" alt="back" width="60" height="10"></a>
</div>
{% endblock base_body %}

</html>
 