<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<head>
	<script src="/static/js/variables.js"></script>
	<script src="/static/js/home.js"></script>
</head>
<html>


{% extends "foundation/base.html" %}
{% load staticfiles %}



{% block base_body %}

{%include "navBar/bar.html" %}
<link rel="stylesheet" type="text/css" href="{% static "style/main.css" %}" />
<div id="main" class="mainStyle">
    <div class="large-12 columns">
        <h1 id="header" align="center"></h1>
    </div>
    <div align="center">
    	<span style="color:silver; font-size: 120%;">vyber si kategóriu</span>
    	</div>
<div class="row collapse" align="center" id="choice">

	<script>
		home("home");
	</script>
</div>
<div class="row">
	<a id="back" style="display:none;"><img onclick="javascript:home('home')" src="/static/img/back.png" alt="back" width="60" height="10"></a>
</div>
<div class="descTop" align="center" id="labelAbout">
	<span>
		Zábavná aplikácia na testovanie vašich schopností na odhady.
	</span>
</div>

</div>
<div class="row collapse" align="center">
<div id="about" class="large-6 collumns" align="left">
	<h4>
		Otázky na mieru:
	</h4>
	<span>Aplikácia využíva adaptibilný systém, ktorý vyberie otázky presne podľa vaších schopností</span>
</div>
</div>
{% endblock base_body %}

</html>
 