<!DOCTYPE html>
{% extends "foundation/base.html" %}
<head>
	
	
	
</head>
<html>

{% if output %}


{% block base_body %}
{%include "navBar/bar.html" %}

{{ output.result }}
<div>
<div>

<form id="assigForm" onsubmit='return answerC(ans,"{{output.result}}")' method="post">{% csrf_token %}
	<div class="row">
			<div class="row collapse">
				<label class="small-9 collumns">
					<script src="/static/js/Currency.js"></script>
					{{output.question}}<script>decider("{{output.fr}}");</script> ({{output.fr}}) = ? <script>decider("{{output.to}}");</script> ({{output.to}}) 
				</label>
			
				<div class="small-5 columns">
					<input id="input" type="number" name="ans" placeholder="write an answer here"/>
				</div>
				
				<div id="assigment"></div><br>
				<div class="large-6 rows" id="answer"></div>
			</div>
		<div id = "next">
			<input type="submit" class="button" value="Odpovedat" />
		</div>
	</div>
</form>
</div>
<script src="/static/js/answerForm.js"></script>
<script src="/js/foundation.min.js"></script>
</div>
{% endblock base_body %}

{% else %}
	<p>No assigment is available</p>
{% endif %}
</html>
 
